body {
    background-color: #ece6dd;
    background-size: auto;
}

.subtitle {
    font-family: 'DM Sans';
    font-size: 18px;
    color: #1e1e20;

    text-align: center;
}

.header-container {
    background-color: #f6f0ea;
    border: 1px solid #b37a45;

    display: flex;
    justify-content: space-between;
    height: 120px;

}

.header-container a {
    font-family: 'DM Sans';
    color: #b37a45;
    text-decoration: none;

    padding: 12px;
}

.header-container a:hover {
    color: #1e1e20;

}

.page-title {
    font-family: 'Playfair Display';
    font-size: 46px;
    color: #1e1e20;

    order: 2;
}

#form-id {
    display: grid;
    width: 50%;
    padding: 10px;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-items: center;
}

#startup {
    display: flex;
    width: 50%;

    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #f6f0ea;
    border: 1px solid #b37a45;
}

input[type="checkbox"] {
    display: flex;
    margin: auto;

    accent-color: #b37a45;
}

label {
    text-align: center;

    font-family: 'DM Sans';
    color: #1e1e20;
}

#select {
    grid-column: 2 / 3;
    margin: auto;

    width: 90px;
    color: white;
    background-color: #a7ad9f;

    border: 1px solid #1e1e20;
    border-radius: 25px;
}

#submit-button {
    grid-row: 5 / 5;
    grid-column: 2 / 3;
    margin: auto;

    width: 70px;
    color: #ffffff;
    background-color: #a7ad9f;

    border: 1px solid #1e1e20;
    border-radius: 25px;
}

#submit-button:hover {
    background-color: #797e73;
    color: white
}

#info-container {
    margin: auto;
    width: 50%;
    display: flex;
    padding: 5px;

    border: 1px solid #b37a45;
    background-color: #f6f0ea;
}

.heading-style {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1e1e20;

    text-align: center;
}

#explanation p {
    font-family: 'DM Sans';
    font-size: 14px;
    text-indent: 20px;
    color: #1e1e20;

    padding: 5px;
}

.instructions {
    margin: auto;
    width: 30%;
    display: block;
    padding: 5px;

    border: 1px solid #b37a45;
    background-color: #f6f0ea;
}

.list-item {
    font-family: 'DM Sans';
    font-size: 14px;
    color: #1e1e20;
}

.timer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 64px;
    color: #ac3030;
}

.start-button {
    margin:auto;
    display: block;

    width: 105px;
    color: #ffffff;
    background-color: #a7ad9f;

    border: 1px solid #1e1e20;
    border-radius: 25px;
}

.start-button:hover {
    background-color: #797e73;
    color: white;
}

#end-screen {
    margin: auto;
    width: 50%;
    display: block;
    padding: 5px;

    border: 1px solid #b37a45;
    background-color: #f6f0ea;
}

#end-screen p {
    font-family: 'DM Sans';
    font-size: 14px;
    text-indent: 20px;
    color: #1e1e20;

    padding: 5px;
}